#dashboard-container{
    padding: 3.5rem 1.5rem;
    font-size: 1.8rem;
}


.user-profile{
    display: flex;
    min-width: 15rem;
    gap: 1rem;
    align-items: center;
    color: #1C4999;
}

.user-profile span{
    display: flex;
    flex-direction: column;
}

main > section{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.upload-section{
    position: relative;
    text-align: center;
    padding-bottom: 4rem;
}

.upload-section svg{
    display: block;
    width: 100vw;
    position: absolute;
    left: -1.5rem;
    bottom: 0;
}

.upload-section > a{
    display: block;
    background-color: #1C4999;
    padding: 1.2rem 2.5rem;
    border-radius: 2rem;

    line-height: 1.4;
    text-decoration: none;
    color: #FFEB00;
}

a span {
    display: block;
    font-size: 3rem;
    font-weight: 700;
}

.file-upload-control,
.recent-splits-container{
    padding: 2.5rem 1.5rem;
    background-color: #FFFBCC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height: 30rem;
    
    text-align: center;
    color: #1C4999;
}

.file-upload-control{
    max-width: 64rem;
    padding: 0 4rem;
    margin: auto;
    z-index: 1;
}

.file-upload-control p{
    font-size: 2rem;
    font-weight: 700;
}

.file-upload{
    width: 100%;
}

.file-upload input{
    width: 100%;
    background-color: #1C4999;
    padding: 1.2rem 2.5rem;
    border-radius: 2rem;
    color: #FFEB00;
}

.split-options-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5rem 0;

    text-align: center;
}

.split-options-container h2{
    margin: 0.5rem;
    font-size: 3.5rem;
    color: #1C4999
}

.split-options-container p{
    margin: 0;
    font-size: 2.2rem;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.option input{
    width: 4rem;
    height: 2.5rem;
}

.upload-details-section{
    position: relative;
    padding: 3rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.section-bg{
    position: absolute;
    left: -1.5rem;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

.split-flow-img{
    display: none;
}

.recent-splits-container{
    height: fit-content;
    max-width: 50rem;
}

.upload-details-section h3{
    text-align: right;
}

.upload-details-section ul{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    list-style-type: none;
    padding: 0;
}

.upload-details-section ul > li{
    font-weight: 600;
    font-style: italic;
}

@media screen and (min-width: 768px){
    .upload-details-section {
        flex-direction: row;
        justify-content: center;
    }

    .split-flow-img {
        display: block;
        width: 35rem;
    }
}

@media screen and (min-width: 840px){
    #dashboard-container{
        margin: auto;
    }

    .upload-details-section{
        min-height: 75rem;
        gap: 20rem;
    }

    .upload-section{
        min-height: 58vh;
    }
}

@media screen and (min-width: 1280px){
    .file-upload-control {
        max-width: 76.8rem;
        height: 40rem;
    }

    .file-upload-control p {
        font-size: 3.8rem;
    }

}