.container {
  max-width: 1440px;
}

.content {
  margin: 80px;
}

.rectangle h1 {
    text-align: center;
}

.first {
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.box-head {
  background: #194993;
  padding: 10px;
  width: 170px;
  height: 50px;
  border-radius: 20px;
  font-family: "Jost";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f4e429;
  margin: auto;
}

.how-box {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}

.how {
  width: 300px;
  height: 250px;
  background: #fafafa;
  box-shadow: 18px 18px 12px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 40px 20px;
}

.how p {
  margin-top: 30px;
}

.arrow {
  height: 15px;
  align-self: center;
  margin-right: 50px;
  margin-left: 50px;
  width: 40px;
}

.para2 {
  font-size: 20px;
}

.csv img {
  width: 100px;
}

.json img {
  width: 75px;
}

.csv {
  background-color: white;
  border: 3px solid #172672;
  padding: 20px;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 22%;
  text-align: center;
}

.json {
  background-color: white;
  border: 3px solid #172672;
  padding: 20px;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  position: absolute;
  bottom: 0;
  right: 22%;
  text-align: center;
}

.csv-json {
  background-color: #172672;
  padding: 30px;
  margin-top: 150px;
  border-radius: 10px;
  color: white;
}

.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.third {
  display: flex;
  gap: 20px;
}

.features {
  background-color: #172672;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  color: white;
  text-align: center;
  width: 280px;
}

.last {
  margin-top: 50px;
  text-align: center;
  color: #1f3297;
  font-size: 25px;
}

@media only screen and (max-width: 785px) {
  .how-box {
    display: block;
  }

  .how {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 400px;
  }

  .csv img {
    width: 70px;
  }

  .csv {
    width: 100px;
    padding: 10px;
    margin: auto;
    position: relative;
    bottom: 20%;
    left: 2%;
    text-align: center;
  }

  .json img {
    width: 50px;
  }

  .arrow {
    display: none;
  }

  .json {
    width: 100px;
    padding: 10px;
    margin: auto;
    position: relative;
    bottom: 20%;
    right: 2%;
    text-align: center;
  }

  .third {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .last {
    font-size: 18px;
  }
}
