/*********************************************
***********
*********** CONTACT PAGE STYLING *************
***********
*********************************************/
.parent-container {
    max-width: 96rem;
    margin: auto;
    margin-bottom: 7.5rem;
    padding: 4.5rem 1.5rem;
    font-size: 1.5rem;
}

.top-section {
    padding: 2.5rem 0 4rem;
    color: #475467;
}

.parent-container h1 {
    font-size: 3.2rem;
    color: #101828;
}

.form-control {
    margin-bottom: 2.5rem;
}

small {
    color: #475467;
}

.form-control-check div {
    padding-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1.2rem;
}

label {
    display: block;
    margin-bottom: 0.7rem;

    font-size: 1.4rem;
    font-weight: 600;
    color: #344054;
}

.form-control-check label {
    width: 100%;
    font-weight: 400;
}

input {
    display: block;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #A4A4A4;
    border-radius: 0.5rem;

    color: #5c5c5c;
}

input:focus,
textarea:focus {
    outline-color: #84CAFF;
}

textarea:focus {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.form-field-error {
    display: block;

    font-weight: 500;
    color: #F89687;
}

input.invalid,
textarea.invalid {
    outline-color: #F89687;
}

textarea {
    height: 18rem;
}

#checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

.form-success {
    text-align: center;
    color: #278c17;
}

#btn__submit {
    display: block;
    width: 100%;
    padding: 1.5rem 2rem;
    appearance: none;
    border: none;
    margin: auto;
    border-radius: 0.5rem;
    background-color: #F4E429;

    font-family: 'Jost', sans-serif;
    font-size: 1.8rem;
    color: #363B3F;
}

#btn__submit:hover {
    background-color: #e7db58;
    transition: all ease-in-out 0.4s;
}

#btn__submit:disabled {
    background-color: rgba(178, 221, 255, 1);
    transition: all ease-in-out 0.4s;
}

.alt-login{
    padding-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}

.divider{
    display: block;
    margin: auto;
    width: 100%;
}

.btn-signup-option{
    display: block;
    width: 100%;
    padding: 2.2rem;
    border: 1px solid rgba(126, 125, 125, 0.7);
    border-radius: 0.5rem;

    text-align: center;
    text-decoration: none;
    color: #363B3F;
}


/******************************
/******************************
/*******MEDIA QUERIES**********
/*****************************
******************************/
@media screen and (min-width: 768px) {
    form {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .form-control:first-child,
    .form-control:nth-child(2) {
        width: 49%;
    }

    .form-control {
        width: 100%;
    }
}

@media screen and (min-width: 960px){
    .parent-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 3.5rem;
    }

    .parent-container > *{
        width: 47.5%;
    }

    .top-section{
        width: 100%;
        padding: 0;
    }

    .alt-login{
        padding: 0;
    }
}